<% if @role == "student" %>
<div class="card mt-3 shadow-sm rounded-2" style="line-height: 0.8;">
    <div style="border: 1px solid #808080;  " class="py-3 px-2 rounded-3" >
        <div class="fs-6 fw-normal">
            <p><strong>Title:</strong> <%= group_assignment[:title] %></p>
            <p><strong>Description:</strong> <%= group_assignment[:description] %></p>
          </div>
    
          <div class="d-flex justify-content-between align-items-end">
            <div>
                <p ><strong>Deadline:</strong> <%= group_assignment[:deadline] %></p>
                <p><strong>Type:</strong> <%= group_assignment[:type] %></p>
                <p class="mb-0"  ><strong>Max Group Size:</strong> <%= group_assignment[:max_group_size] %></p>
    
            </div>
            <div>
                <button class="btn btn-primary me-2 fw-semibold">
                    Edit Group
                </button>
                <a href="https://circuitverse.org/simulator" target="_blank"> 
                    <button class="btn btn-primary me-2 fw-semibold">
                        Open Simulator
                    </button>
                </a>
                <button class="btn btn-danger fw-semibold">Submit</button>
              </div>
          </div>
    </div>  
</div>

<% else %>
<div class="card mt-3 shadow-sm" style="line-height: 0.8;">
    <div style="border: 1px solid #808080; " class="py-3 px-2" >
        <div class="fs-6 fw-normal">
            <p><strong>Title:</strong> <%= group_assignment[:title] %></p>
            <p><strong>Description:</strong> <%= group_assignment[:description] %></p>
          </div>
    
          <div class="d-flex justify-content-between align-items-end">
            <div>
                <p ><strong>Deadline:</strong> <%= group_assignment[:deadline] %></p>
                <p><strong>Type:</strong> <%= group_assignment[:type] %></p>
                <p  class="mb-0"  ><strong>Max Group Size:</strong> <%= group_assignment[:max_group_size] %></p>
    
            </div>
            <div>
                <button class="btn btn-primary me-2 fw-semibold">
                    Edit
                </button>
                <button class="btn btn-danger fw-semibold">View Submissions</button>
              </div>
          </div>
    </div>  
</div>
<% end %>